<html ng-app="vote">
<head>
  <title>Dragg!</title>
 <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Merriweather|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="index.css" media="screen">
</head>
<body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    
    $(document).ready(function(){
       var list = '<%=data.attendance%>';
       var data = '<%=data.attendance.length%>';
       $('#attendance').html('going : ' + data);
       
       if (data > 0){
           $('#attendanceList').html('members : ' + list);
       }
           
       var attend = <%=attending%>;
       
       if (attend == true){
                
                
                $('#going').html("You're attending this event");
                $('#attend').attr('style', 'background-color: red')
                $('#attend').html('cancel');
            }
            
       else if (attend == false){
                
                $('#going').html("");
                $('#attend').attr('style', 'background-color: #712481')
                $('#attend').html('attend');
            }  
           
       
       
     
      
       
        
        $('#attend').on('click', function(){
            
            var currentBar = window.location.href;
            
             $.post(currentBar, function(){
                 <% if (!user) {%>
                 window.location.href = '/login';
                 <% } %>
             });
            
            if (!attend){
                attend = true;
                
                $('#going').html("You're attending this event");
                $('#attend').attr('style', 'background-color: red')
                $('#attend').html('cancel');
                data++;
                $('#attendance').html('going : ' + data);
            }
            
            else if (attend){
                attend = false;
                $('#going').html("");
                $('#attend').attr('style', 'background-color: #712481')
                $('#attend').html('attend');
                data--;
                $('#attendance').html('going : ' + data);
            }
            
        })
        
        
    });
    
</script>





<div class="showBar">
<center>


      
           
           <img src='<%=data.img%>'><br><br>
           <div class='barTEXT'>
               <a target='_blank' href='<%=data.url%>'><b><%=data.name%></a></b>
               <img src='<%=data.rating%>'><br>
               <%=data.address%> - <%=data.zipcode%> (<%=data.phone%>)<br><br>
               "<%=data.snippet%>"<br><br>
               <p id='attendance'></p>
               <p id='attendanceList'></p>
               <div id='going'></div><br>
               <button style='background-color:green'id='attend'></button>
           </div>
       
       
   

</center>


</div>



</body>
</html>
